* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Ubuntu', sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;

}

.nav-principal {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 0;
    background-color: white;
    gap: 20px;
}

.div-buscar, .nav-menu {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    gap: 30px;
}

.div-buscar {
    border: 1px solid black;
    border-radius: 6px;
    padding: 6px;
}

.txt-buscar {
    padding-left: 12px;
    cursor: pointer;
    border: none;
    font-size: 16px;
}

.img-buscar {
    width: 40px;
    padding: 5px;
}

.nav-menu {
    align-items: center;
}

.nav-menu a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.nav-menu a:hover {
    text-decoration: underline;
}

.input-login {
    display: flex;
    flex-direction: column;
}

.caixa-block {
    cursor: pointer;
}

.login {
    cursor: pointer;
}


.caixa-login {
    display: none;  
    position: absolute;
    width: 220px;
    border: 1px solid darkgoldenrod;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    margin-right: 20px;
    right: 0;
    top: 100px;
}

.formulario-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.enviar-login {
    margin-top: 15px;
    padding: 5px;
    background-color: black;
    color: white;
    border-radius: 5px;

}

/* seção categoria */

.categorias {
    border-top: 2px dotted darkgoldenrod;
    border-bottom: 2px dotted darkgoldenrod;
}

.categorias ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    color: white;
    padding: 20px;
    text-transform: uppercase;
    gap: 10px;

}

.lista-categoria {
    text-decoration: none;
    color: black;
    font-size: 16px;
    padding: 10px;
}

.lista-categoria:hover {
    border-bottom: 1px solid black;
}

/*Seção principal */

.principal {
    background-color: #f6f8f9;;
    text-align: center;
    padding-bottom: 60px;
}


.principal h1 {
    color: darkgoldenrod;
    text-shadow: 2px 2px 2px silver;
    margin: 30px 0;
    font-size: 60px;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.itens {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 380px;
    height: auto;
    border: 1px solid silver; 
    padding: 20px;
    border-radius: 10px ;
}

.itens:hover  {
    border: 1.5px solid darkgoldenrod;
}

.img-itens {
    opacity: 0.8;
}

.itens:hover .img-itens {
    opacity: 1;
}


.img-itens {
    width: 340px;
    height: 340px;
    border-radius: 10px;
}

.titulo-itens {
    color: black;
    font-size: 22px;
    margin: 20px 0 5px 0;
}

.subtitulo {
    font-size: 16px;
    color:  darkgray;
    margin-bottom: 20px;
}

.preco-antes {
    font-size: 16px;
    text-decoration: line-through;
}

.preco {
    font-size: 30px;
    margin: 5px 0;
}

.btn-comprar {
    font-size: 20px;
    color: darkgoldenrod;
    padding: 10px 50px;
    border: none;
    border-radius: 5px;  
    cursor: pointer;
    margin: 10px 0;
}

.btn-comprar:hover {
    border: 1px solid darkgoldenrod;
}

.btn-comprar:active {
    background-color: darkgoldenrod;
    color: white;
}

/* página de contatos */

.contato {
    background-color: darkgoldenrod;
    display: flex;
    flex-direction: column;
    align-items: center;    
    margin: 60px auto;
    padding: 40px;
    border: 1px solid black;
    max-width: 700px;
    border-radius: 20px;
}

.contato p {
    font-size: 40px;
    color: white;
    margin-bottom: 10px;
}

.container-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;

}

.label-padrao {
    font-size: 20px;
    margin-bottom: 5px;
}

.input-padrao {
    margin-bottom: 30px;
    padding: 10px;
    width: 100%;
 
}

.enviar {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 100px;
    cursor: pointer;
}

.enviar:hover {
    background-color: white;
    border: 1px solid white;
    color: darkgoldenrod;
}

/* seção acessórios */

.acessorios {
    text-align: center;
    background-color: white;
}
.acessorios p {
    font-size: 30px;
    text-transform: uppercase;
    padding: 15px 0;
    color: darkgoldenrod;
    text-shadow: 1px 1px 1px silver;
    border-top: 2px dotted darkgoldenrod;
    border-bottom: 2px dotted darkgoldenrod;
}
.lista-acessorios {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.img-acessorios {
    width: 320px;
    margin: 20px 0;
    box-shadow: 2px 2px 4px silver;
}
